* {box-sizing: border-box; padding: 0; margin: 0;}
section {
    width: 550px;
    margin: 50px auto 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}
ul {
    display: flex;
    width: 100%;
    gap: 0;
}
li {
    flex: 1;
    display: inline-block;
    background-color: #fafafa;
    color: #212121;
    padding: 20px 12px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    list-style: none;
}
li.active {
    background-color: slateblue;
    color: #fff;
}
.tab-container {
    padding: 20px;
}
.container {
    display: none;
}
.container.on {
    display: block;
}
h3 {
    margin-bottom: 30px;
}
.container form > div {
    margin-bottom: 20px;
}
.field-name {
    font-size: 16px;
    color: #767676;
    margin-bottom: 10px;
}
.container form > div[class*="id-container"] > div,
.container form > div[class*="phone-container"] > div,
.container form > div[class*="sellernumber"] > div {
    display: flex;
    gap: 12px;
    align-items: center;
}
/* 기본 input 필드 속성입니다 */
input,select {
    width: 100%;
    height: 54px;
    padding: 0 9px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}
input[name*="user-id"],
input[name*="sellernumber"] {
  width: calc(100% - 134px);
}

.id-value-check,.seller-value-check {
    display: inline-block;
    width: 122px;
    height: 54px;
}

.container form > div[class*="phone-container"] > div select,
.container form > div[class*="phone-container"] > div input {
    flex: 1;
}